<footer class="main-footer bg-dark text-white">
    <div class="container d-flex flex-column align-items-center">
        <div class="row pt-5">
            <div class="col-md-4 d-flex flex-column align-items-center">
                <h5 class="font-weight-bold">About</h5>
                <ul class="list-unstyled text-center">
                    <li class="mt-3">
                        <a class="footer-text font-size-18" href="#">Mission &amp; Vision</a>
                    </li>
                    <li class="mt-2">
                        <a class="footer-text font-size-18" href="#">History</a>
                    </li>
                    <li class="mt-2">
                        <a class="footer-text font-size-18" href="#">Leadership</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <h5 class="font-weight-bold">Resources</h5>
                <ul class="list-unstyled text-center">
                    <li class="mt-3">
                        <a class="footer-text font-size-18" href="#">Academic Programs</a>
                    </li>
                    <li class="mt-2">
                        <a class="footer-text font-size-18" href="#">Research Centers</a>
                    </li>
                    <li class="mt-2">
                        <a class="footer-text font-size-18" href="#">Libraries</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <h5 class="font-weight-bold">Contact</h5>
                <ul class="list-unstyled text-center">
                    <li class="mt-3">
                        <a class="footer-text font-size-18" href="#">Directory</a>
                    </li>
                    <li class="mt-2">
                        <a class="footer-text font-size-18" href="#">Campus Map</a>
                    </li>
                    <li class="mt-2">
                        <a class="footer-text font-size-18" href="#">Send us a message</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 d-none d-md-block">
                <div class="d-flex justify-content-center">
                    <a href="#">
                        <i class="fab fa-facebook mr-3"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter mr-3"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram mr-3"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <a href="#">
                    <img src="~/icon/logo-no-background-1.png" alt="Informatics Logo">
                </a>
            </div>
            <div class="d-md-none">
                <div class="d-flex justify-content-center mb-3">
                    <a href="#">
                        <i class="fab fa-facebook fa-2x mr-3"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter fa-2x mr-3"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram fa-2x mr-3"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-youtube fa-2x"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-md-center">
                <p dir="ltr" class="footer-text">&copy; 2023

            </div>
        </div>
    </div>
</footer>