<div class="header finisher-header">
    <div id=container>
        <span>آموزش و یادگیری ؛</span>
        <div id=flip>
            <div><div>سفری</div></div>
            <div><div>مسیری</div></div>
            <div><div>جاده ای</div></div>
        </div>
        <span>که هرگز پایان نمی یابد</span> 
    </div>
    <div class="graph__wrapper">
        <svg width="315px" height="107px" viewBox="0 0 315 107" version="1.1" style="overflow:visible">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <path id="Path-1" class="path" fill="none" stroke="#db5862" stroke-width="5" stroke-linejoin="round" stroke-miterlimit="10" d="M1.4,2.1c0,0,86,57,211.5,41.5s172.5-24.5,289,81" />
                <polyline id="arrow" points="0,-9 18,0 0,9 5,0" fill="#db5862">
                    <animateMotion rotate="auto" begin="1s" dur="1.6s" repeatCount="1" fill="freeze">
                        <mpath xlink:href="#Path-1" />
                    </animateMotion>
                </polyline>

            </g>
        </svg>
    </div>
    <div class="graph__wrapper_1">
        <svg width="315px" height="107px" viewBox="0 0 315 107" version="1.1" style="overflow:visible">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <path id="Path-1" class="path" fill="none" stroke="#db5862" stroke-width="5" stroke-linejoin="round" stroke-miterlimit="10" d="M1.4,2.1c0,0,86,57,211.5,41.5s172.5-24.5,289,81" />
                <polyline id="arrow" points="0,-9 18,0 0,9 5,0" fill="#db5862">
                    <animateMotion rotate="auto" begin="1s" dur="1.6s" repeatCount="1" fill="freeze">
                        <mpath xlink:href="#Path-1" />
                    </animateMotion>
                </polyline>

            </g>
        </svg>
    </div>
    <a class="me-auto ms-auto" href="#school-body">
        <button class="continue-application mt-5">
            <div>
                <div class="pencil"></div>
                <div class="folder">
                    <div class="top">
                        <svg viewBox="0 0 24 27">
                            <path d="M1,0 L23,0 C23.5522847,-1.01453063e-16 24,0.44771525 24,1 L24,8.17157288 C24,8.70200585 23.7892863,9.21071368 23.4142136,9.58578644 L20.5857864,12.4142136 C20.2107137,12.7892863 20,13.2979941 20,13.8284271 L20,26 C20,26.5522847 19.5522847,27 19,27 L1,27 C0.44771525,27 6.76353751e-17,26.5522847 0,26 L0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 Z"></path>
                        </svg>
                    </div>
                    <div class="paper"></div>
                </div>
            </div>
            کاوش
        </button>
    </a>
    <div class="w-100 d-flex h-75 align-items-end">
        <img class="header-shape" src="~/images/white-shape.png" alt="">
        <img class="header-shape1" style="transform: scaleX(-1)" src="~/images/white-shape.png" alt="">
    </div>
</div>