


<main id="contact-page">

    <!-- SECTION Contact main -->
    <article dir="ltr" class="main-contact">
        <div class="row d-flex w-100 justify-content-between">
            <section class="animated-contact col-lg-6">
                <lottie-player src="~/plugins/animated-icon/gif5.json" background="transparent" speed=".75" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
            </section>
            <section class="contact-form col-lg-6">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="wrapper">
                                <div dir="rtl" class="row no-gutters">
                                    <div class="col-md-6">
                                        <div class="contact-wrap w-100 p-lg-5 p-4">
                                            <h4 class="mb-4">با ما در ارتباط باشید</h4>
                                            <div id="form-message-warning" class="mb-4"></div>
                                            <div id="form-message-success" class="mb-4">
                                                پیام شما ارسال شد! با سپاس
                                            </div>
                                            <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="name" id="name" placeholder="نام">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <input type="email" class="form-control" name="email" id="email" placeholder="ایمیل">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="subject" id="subject" placeholder="موضوع">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <textarea name="message" class="form-control" id="message" cols="30" rows="6" placeholder="پیام"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <input type="submit" value="ارسال پیام" class="btn btn-primary">
                                                            <div class="submitting"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-6 d-flex align-items-stretch">
                                        <div class="info-wrap w-100 p-lg-5 p-4 img">
                                            <h3>ارتباط با ما</h3>
                                            <p class="mb-4 mt-4">ما آماده دریافت هرگونه انتقاد یا پیشنهاد از طرف شما هستیم</p>
                                            <div class="dbox w-100 d-flex align-items-start">
                                                <div class="icon d-flex align-items-center justify-content-center">
                                                    <span class="fa fa-map-marker"></span>
                                                </div>
                                                <div class="text ps-3">
                                                    <p><span>آدرس : </span>تهران ، بلوار مرزداران ، خیابان البرز، نبش هشتم ، پلاک 23</p>
                                                </div>
                                            </div>
                                            <div class="dbox w-100 d-flex align-items-center">
                                                <div class="icon d-flex align-items-center justify-content-center">
                                                    <span class="fa fa-phone"></span>
                                                </div>
                                                <div class="text ps-3">
                                                    <p><span>تلفن :</span> <a dir="ltr" href="tel://02144258420">021-44258420</a></p>
                                                </div>
                                            </div>
                                            <div class="dbox w-100 d-flex align-items-center">
                                                <div class="icon d-flex align-items-center justify-content-center">
                                                    <span class="fa fa-envelope"></span>
                                                </div>
                                                <div class="text ps-3">
                                                    <p><span>ایمیل :</span> <a href="mailto:school@isitschool.ir">school@isitschool.ir</a></p>
                                                </div>
                                            </div>
                                            <div class="dbox w-100 d-flex align-items-center">
                                                <div class="icon d-flex align-items-center justify-content-center">
                                                    <span class="fa fa-globe"></span>
                                                </div>
                                                <div class="text ps-3">
                                                    <p><span>وبسایت :</span> <a href="#">Informatics.com</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="google-map">
                <div class="dashed">
                    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=51.35613530874253%2C35.73638029262355%2C51.35864585638047%2C35.73785205506654&amp;layer=mapnik&amp;marker=35.73711626997854%2C51.35739058256149" style="border: 1px solid black"></iframe>
                </div>
            </section>
        </div>
    </article>
    
</main>