@* @model IndexModel *@

<partial name="banner"/>

<div class="d-none d-lg-flex hr-fixed">
    <div class="divider div-transparent div-dot"></div>
</div>
@*<partial name="Projects"/>*@
@await Component.InvokeAsync("Projects")


@await Component.InvokeAsync("LatestArticles")