@model IEnumerable<DevCard_mvc.Models.Project>

<article id="school-body" class="school-body">
    <section>
        <div dir="ltr" class="row w-100 d-flex justify-content-between mt-5">
            <div class="col-12 col-lg-6 appear">
                <div class="img-school">
                    <img src="~/images/classroom.jpg" alt="students-working">
                </div>
            </div>
            <div dir="rtl" class="col-12 col-lg-6 appear">
                <div class="text-school mt-4 mt-lg-0 ">
                    <h1>ﺍﻳﺠﺎﺩ محیطی ﻣﻨﺎﺳﺐ ﺟﻬﺖ ارزیابی های ﻣﺴﺘﻤﺮ ﻭ ﻣﺘﻨﺎﺳﺐ ﺑﺎ ﺍﺳﺘﻌﺪﺍﺩ ﻭ ﭘﻴﺸﺮﻓﺖ <span>فرزند هایتان</span></h1>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع </p>
                    <button class="learn-more">
                        <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                        </span>
                        <span class="button-text">بیشتر بدانید</span>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div dir="ltr" class="row w-100 d-flex justify-content-between">
            <div class="col-12 col-lg-6 appear">
                <div class="img-school">
                    <img src="~/images/study.jpeg" alt="learning">
                </div>
            </div>
            <div dir="rtl" class="col-12 col-lg-6 appear">
                <div class="text-school mt-4 mt-lg-0 ">
                    <h1>ﺗﺮﻭﻳﺞ یادگیری تجربی پژوهش محوری ﻭ ﺩﺍﻧﺶﺁﻣﻮﺯ محوری ﺩﺭ فرآیندهای آموزشی <span> هنرجویان</span></h1>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع </p>
                    <button class="learn-more">
                        <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                        </span>
                        <span class="button-text">بیشتر بدانید</span>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div dir="ltr" class="row w-100 d-flex justify-content-between mt-5">
            <div class="col-12 col-lg-6 appear">
                <div class="img-school">
                    <img src="~/images/students-working-on-project.jpg" alt="study group">
                </div>
            </div>

            <div dir="rtl" class="col-12 col-lg-6 appear">
                <div class="text-school mt-4 mt-lg-0 ">
                    <h1>ﻓﺮﺍﻫﻢ ﻧﻤﻮﺩﻥ فضای ﻣﺸﺎﺭﻛﺖ ﻭ ﺗﻌﺎﻣﻞ ﺩﺍﻧﺶﺁﻣﻮﺯﺍﻥ ﻭ ﻣﻌﻠﻤﻴﻦ ﺩﺭ فرآیندهای یادگیری <span>ﺩﺍﻧﺶ ﺁﻣﻮﺯﺍﻥ</span></h1>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع </p>
                    <button class="learn-more">
                        <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                        </span>
                        <span class="button-text">بیشتر بدانید</span>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div dir="ltr" class="row w-100 d-flex justify-content-between">
            <div class="col-12 col-lg-6 appear">
                <div class="img-school">
                    <img src="~/images/web.jpg" alt="learning">
                </div>
            </div>
            <div dir="rtl" class="col-12 col-lg-6 appear">
                <div class="text-school mt-4 mt-lg-0">
                    <h1>بهره گیری از قابلیت های پیشرفته وب برای ﺗﻮﺳﻌﻪ محتوای<span> آموزشی</span></h1>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع </p>
                    <button class="learn-more">
                        <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                        </span>
                        <span class="button-text">بیشتر بدانید</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
</article>
